.stand{
    height: 300px;
    width: 30px;
    background-color: black;
    margin: 30px auto 0 auto;
}
.trafficBox{
    height: 530px;
    width: 200px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10%;
    padding-top: 15px;
}
.light{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 20px auto;
}
.redLight{
    background-color: red;
}
.yellowLight{
    background-color: yellow;
}
.greenLight{
    background-color: rgb(0, 255, 0);  
}
.purpleLight{
    background-color: purple;
}
.lightColorRed{
    box-shadow: 0 0 100px 60px rgba(255, 0, 0, 0.8);
}
.lightColorYellow{
    box-shadow: 0 0 100px 60px rgba(255, 255, 0, 0.8);
}
.lightColorGreen{
    box-shadow: 0 0 100px 60px rgba(0, 255, 0, 0.8);
}
.lightColorPurple{
    box-shadow: 0 0 100px 60px rgba(255, 0, 255, 0.8);
}